.clients__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: fill, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent);
    border: 1px solid var(--accent);
  }
}

